<%- include ("includes/header") %>

<div id="homeApp" style="margin-bottom: 80px;">
    <div class="container" id="features">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="color: aliceblue;">Welcome to <strong>SkyVault</strong></h1>
                <!-- <p>Node JS and Mongo DB</p> -->
                <h3 style="margin-top: 40px; color: white;">Unleash the power of seamless file sharing with <strong>SkyVault</strong>. Whether you're collaborating with colleagues, sharing memories with friends, or storing important documents securely, we've got you covered.</h3>
                <a v-bind:href="mainURL + '/MyUploads'" class="gst" style="text-transform: uppercase; font-size: 30px;">Get Started</a>
            </div>
        </div>
    </div>
    
    <!-- <div class="container"> -->
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="card glass" style="width: 18rem; border-radius: 25px; color: white; background-color: transparent; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.6) 0px 30px 60px -30px, rgba(255, 255, 255, 0.6) 0px -2px 6px 0px inset;">
                    <img src="./img/cloud-server.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Store and access anywhere</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card glass" style="width: 18rem; border-radius: 25px; color: white; background-color: transparent; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.6) 0px 30px 60px -30px, rgba(255, 255, 255, 0.6) 0px -2px 6px 0px inset;">
                    <img src="./img/link copy.png" class="card-img-top" alt="...">
                    <div class="card-body" style="margin-top: -10px;">
                      <p class="card-text">Generate links & share with others</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card glass" style="width: 18rem; border-radius: 25px; color: white; background-color: transparent; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.6) 0px 30px 60px -30px, rgba(255, 255, 255, 0.6) 0px -2px 6px 0px inset;">
                    <img src="./img/locked.png" class="card-img-top" alt="...">
                    <div class="card-body" style="margin-top: -10px;">
                      <p class="card-text">Safe and Secure</p>
                    </div>
                  </div>
              </div>
          <!-- </div>
          <div class="row"> -->
            <div class="col">
              <div class="card glass" style="width: 18rem; border-radius: 25px; color: white; background-color: transparent; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.6) 0px 30px 60px -30px, rgba(255, 255, 255, 0.6) 0px -2px 6px 0px inset;">
                  <img src="./img/tag.png" class="card-img-top" alt="...">
                  <div class="card-body" style="margin-top: -10px;">
                    <p class="card-text">Free of cost</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card glass" style="width: 18rem; border-radius: 25px; color: white; background-color: transparent; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.6) 0px 30px 60px -30px, rgba(255, 255, 255, 0.6) 0px -2px 6px 0px inset;">
                  <img src="./img/download.png" class="card-img-top" alt="...">
                  <div class="card-body" style="margin-top: -10px;">
                    <p class="card-text">Download from anywhere</p>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card glass" style="width: 18rem; border-radius: 25px; color: white; background-color: transparent; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.6) 0px 30px 60px -30px, rgba(255, 255, 255, 0.6) 0px -2px 6px 0px inset;">
                  <img src="./img/blockchain.png" class="card-img-top" alt="...">
                  <div class="card-body" style="margin-top: -10px;">
                    <p class="card-text">Blockchain integration soon.....</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>

        <div class="main" style="margin: 200px;">
          <h1 style="color: white;">Why Choose Us?</h1>
          
          <h2 class="why-header">simplicity</h2>
          <h3 class="why">Our user-friendly interface makes sharing files a breeze, even for beginners.</h3>

          <h2 class="why-header">security</h2>
          <h3 class="why">Rest easy knowing your files are protected with state-of-the-art encryption and secure access controls.</h3>
          
          <h2 class="why-header">flexibility</h2>
          <h3 class="why">Access your files from any device, anywhere, at any time.</h3>
          
          <h2 class="why-header">collaboration</h2>
          <h3 class="why">Work together in real-time with colleagues, friends, and family members on shared documents and projects.</h3>
          
          <h2 class="why-header">customization</h2>
          <h3 class="why">Tailor your sharing experience with customizable privacy settings and branding options.</h3>
        </div>
    </div>
</div>

<script>
    const homeApp = Vue.createApp({
        data() {
          return {
              mainURL: baseUrl,
          }
        }
    });
    homeApp.mount("#homeApp");
</script>

<%- include ("includes/footer") %>